body {
  background-color: rgb(10, 17, 39);
  width: 1100px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.page-headline {
  margin-top: 50px;
}

.page-headline a,
.page-headline-center a {
  font-size: 28px;
  font-weight: 300;
  color: white;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-top: 50px;
}

.page-headline-center {
  text-align: center;
}
